
/*¿ï³æ************************************************/	
#mwt_mwt_slider_scroll{
	top: 0;
	left:-180px;
	width:180px;
	height:100%;
	position:fixed;
	z-index:9999;
    }
 
#mwt_slider_content{
	background:#3c5a98;
	text-align:center;
	padding-top:20px;
	height:100%;
    }
 
#mwt_slider_tab {
	position:absolute;
	/* top:100px; */
	top:5px;
	right:-24px;
	width:24px;
	background:#3c5a98;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	/* padding:9px 0; */
	padding:4px 0;

	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;	
    }
#mwt_slider_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
    }
#mwt_slider_content ul {
	width: 136px;
	margin: 0 0 0 15px;
	padding: 0;
	list-style-position:inside;
    }

#mwt_slider_content ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
    }

#mwt_slider_content ul a:link, #mwt_slider_content ul a:visited {
	margin: 0 0 10px 0;
	padding: 10px;
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #2489ce;
	font-size: 1em;
	font-weight: bold;
	background: #e4f2f5;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	text-shadow: 0 /*{shadow-x}*/ 1px /*{shadow-y}*/ 1px /*{shadow-radius}*/ 	#fff /*{shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e4f2f5 /*{background-start}*/), to( #bad2d2 /*{background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e4f2f5 /*{background-start}*/, #bad2d2 /*{background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e4f2f5 /*{background-start}*/, #bad2d2 /*{background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e4f2f5 /*{background-start}*/, #bad2d2 /*{background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e4f2f5 /*{background-start}*/, #bad2d2 /*{background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e4f2f5 /*{background-start}*/, #bad2d2 /*{background-end}*/);
	}

#mwt_slider_content ul a:hover, #mwt_slider_content ul a:active {
	display: block;
	text-decoration: none;
	color:#000000;
	background: #FFFF00;
	}
	
