/* 初始化樣式---------------------------------------------------------------------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, select, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-size: 12pt;
	color:#3D3C2C;
	font-family: "新細明體", Arial, Helvetica, sans-serif;
	font-weight:normal;
	}
body {
	background-color: #32a697;
	}
	
table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset, img {
	border:0;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
	}
ol, ul {
	list-style:none;
	}
caption, th {
	text-align:left;
	}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
	}

q:before, q:after {
	content:'';
	}
abbr, acronym {
	border:0;
	}

input {
	font-size: 12pt;
	padding: 5px;
	}
	
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin-right: 5px;
	}

input[type=radio] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin-right: 5px;
	}

a:link, a:visited{
	color:#0066CC;
	text-decoration: none;
	}

a:hover, a:active{
	color:#FF0000;
	}

.L {
	text-align: left;
	}

.C {
	text-align: center;
	}

.R {
	text-align: right;
	}

.clearfloat {
	clear:both;
	}


/* layout--------------------------------------------------------------------------------------------------------------------------------------*/
#container {	
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding:0;
	border: 0px solid #000000;
	background: #FFFFFF url(../img/bg/container.jpg) no-repeat top center;
	overflow: auto;
	}

#header {
	position: relative;
	width: 960px;
	height: 70px;
	margin: 0 auto;
	}

#content {
	clear:both;
	width: 980px;
	margin: 0 auto;
	border: 0px solid #000000;
	overflow: auto;
	/*border-radius: 50px;*/
	}

#bg {
	clear:both;
	/*background: transparent url(../img/bg/page.jpg) no-repeat top right;*/
	border: 0px solid #000000;
	}

/* footer-----------------------------------------------------------------------------------------*/
#footer {
	clear:both;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0 20px 0;
	border-top: 0px solid #43deca;
	background-color: #32a697;
	background: #32a697 url(../img/bg/footer2.gif) no-repeat bottom center;
	}

#footer p {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0 5px 0;
	font-size: 11pt;
	line-height: 20pt;
	color: #98b8b4;
	text-align: center;
	}
#footer span {
	font-size: 10pt;
	line-height: 20pt
	}

#footer a:link, #footer a:visited {
	color: #98b8b4;
}
#footer a:hover {
	color: #0066cc;
}

/* header-----------------------------------------------------------------------------------------*/
#logo {
	float: left;
	padding: 10px 0 0 120px;
}
#logo ing {
	width: 193px;
	height: 49px;
}

/*webTitle--------------------------------------------------------------*/
#webTitle {
	float: left;
	}

#webTitle a {
	display:block;
	padding: 20px 0px 10px 5px;
	font-size: 17pt;
	color:#00633E;
	font-weight: bold;
	text-decoration:none;
	}

#webTitle a:hover {
	color: #FFFFFF;
	}

/*使用者登入---------------------------------------------------------------------------------------------------------------------------------*/
#loginBox {
	width: 500px;
	margin: 0;
	padding: 10px 0 0 0;
	}

#loginBox table {
	margin: 0 0 0 8px;
	padding: 0;
	}
#loginBox table th, #loginBox table td {
	padding: 6px 5px;
	text-align: left;
	font-size: 12pt;
	line-height: 18px;
	}

#loginBox img.checkCode {
	width: 80px;
	height: 25px;
	padding: 0 10px 0 0;
	vertical-align: middle;
	}

/*language----------------------------------------------------------------*/		
#language {
	float: right;
	margin: 5px 5px 0px 0px;
	border: 1px solid #219b6f;
	border-radius: 10px;
	}
			
#language span {
	padding: 0px 0px 0px 0px;
	color: #219b6f;
	border: 0px solid #FF0000;
	}		

#language a {
	padding: 0px 10px 0px 10px;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	}

#language a:hover {
	color: #FFFFFF;
	}

	
	

/*登出----------------------------------------------------------------------*/
#logOut {
	float: right;
	margin: 5px 30px 0px 0px;
	}

#logOut a {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 2px 10px 4px 10px;
	text-indent: 0px;
	font-size: 11pt;
	line-height: 14px;
	color:#3D3C2C;
	font-weight: bold;
	text-decoration: none;
	background-color: #eaeaea;
	border: 1px solid #339999;
	border-radius: 20px;
	}

#logOut a:hover {
	color:#FFFFFF;
	background-color: #006666;
	}

/*操作時間------------------*/	
.countDown {
	float: right;
	margin: 8px 3px 0px 0px;
	color: #10633e;
	font-size: 10pt;
	}	
.countDown span {
	padding: 0 3px 0 3px;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	}




/*channel---------------------------------------------------------------------*/
#channel {
	float: right;
	margin: 6px 30px 0 0;
	padding: 0;
	text-align: center;
	border: 0px solid #339999;
	}

#channel ul {
	list-style-type:none;
	}

#channel li {
	float:left;
	padding: 0px 0px 0px 25px;
	}

#channel li a {
	display:block;
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
	}

#channel li a:hover {
	color: #000000;
	}


/* content--------------------------------------------------------------------------------------------*/
/*主選單----------------------------------------------------------------------*/
#menu {
	float: left;
	margin: 80px 0 30px 0;
	padding: 10px 5px 30px 5px;
	width: 200px;
	/*background: transparent url(../img/menu/menu_top.jpg) no-repeat top left;*/
	background: transparent url(../img/button/buttonBg_on.gif) repeat-x 100% 100%;
	border: 1px solid #e2f6f3;
	border-radius:20px;
	}
	
#menu ul li a {
	display: block;
	margin: 0px 15px 0px 10px;
	padding: 15px 5px 15px 35px;
	text-indent: 0px;
	font-size: 14pt;
	line-height: 18px;
	color:#3D3C2C;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #baf6ef;
	background: transparent url(../img/icon/menu_off.gif) no-repeat 0 7px;	
	}
	
#menu a.school			 { background-position: 0 7px;}
#menu a.student          { background-position: 0 -90px;}
#menu a.bank             { background-position: 0 -193px;}
#menu a.creditCard       { background-position: 0 -293px;}
#menu a.unionPay         { background-position: 0 -392px;}
#menu a.checkPayment     { background-position: 0 -492px;}
#menu a.checkReceipt     { background-position: 0 -596px;}
#menu a.receipt          { background-position: 0 -693px;}
#menu a.download         { background-position: 0 -793px;}
#menu a.contact          { background-position: 0 -891px;}
#menu a.qa               { background-position: 0 -995px; border-bottom: none;}


#menu ul li a:hover {
	color:#3D3C2C;
	background: #d2f4f0 url(../img/icon/menu_on.gif) no-repeat 0 7px;	
	}


#menu a.school:hover 			 { background-position: 0 7px;}
#menu a.student:hover           { background-position: 0 -90px;}
#menu a.bank:hover              { background-position: 0 -193px;}
#menu a.creditCard:hover        { background-position: 0 -293px;}
#menu a.unionPay:hover          { background-position: 0 -392px;}
#menu a.checkPayment:hover      { background-position: 0 -492px;}
#menu a.checkReceipt:hover      { background-position: 0 -596px;}
#menu a.receipt:hover           { background-position: 0 -693px;}
#menu a.download:hover          { background-position: 0 -793px;}
#menu a.contact:hover           { background-position: 0 -891px;}
#menu a.qa:hover                { background-position: 0 -995px; border-bottom: none;}




/*次選單----------------------------------------------------------------------*/
ul.sub {
	position: absolute;
	z-index: 2;
	left: 135px;
	top: 98px;
	background-color: #FFFFFF;
	}
	
ul.sub_3 {
	position: absolute;
	z-index: 2;
	left: 257px;
	top: 98px;
	background-color: #FFFFFF;
	}		
	
ul.sub li a {
	display: block;
	margin: 1px;
	padding: 10px 20px 10px 10px;
	text-indent: 0px;
	font-size: 12pt;
	color:#000000;
	font-weight: normal;
	text-decoration: none;
	background-color: #d2f4f0;
	}

ul.sub  li a:hover {
	background-color: #89e5d9;
	}

ul.sub li.arrow_sub a {
	display: block;
	margin: 1px;
	padding: 5px 20px 5px 10px;
	text-indent: 0px;
	font-size: 11pt;
	color:#000000;
	font-weight: normal;
	text-decoration: none;
	background: transparent url(../img/menu/arrow_sub.gif) no-repeat top right;
	background-color: #d2f4f0;
	}

ul.sub  li.arrow_sub a:hover {
	background-color: #89e5d9;
	}
	
/*main-----------------------------------------------------------------------------------*/		
#main {
	margin: 20px 0 0 0;
	padding: 0px 0px 20px 20px;
	overflow: auto;
		border: 0px solid #FF0000;
	}
			
#main .leftArea {
	float: left;
	width: 500px;
	margin: 0px 40px 30px 0px;
		border: 0px solid #FF0000;
	}
	
#main .rightArea {
	float: left;
	margin: 0px 0 0 0;
	text-align: center;
		border: 0px solid #FF0000;
	}

#main .fans {
	position: absolute;
	z-index: 31;
	right: 15px;
	top: 100px; 
	font-size: 9pt;
	border: 0px solid #FF0000;
	}

.ad img {
	margin: 0 0 17px 0;
	border: 1px solid #CCCCCC;
	}
	
.download img {
	margin: 20px 0 0 0;
	}
	
	

/*title---------------------------------------------------------------------------------*/
.title {
	margin-bottom: 0px;
	}
	
.title p {
	display: inline-block;
	float: left;
	width: 30px;
	height:30px;
	background: transparent url(../img/icon/circle.gif) no-repeat top left;
	}
	
.title span {
	display: inline-block;
	padding: 0px 0px 15px 5px;
	font-size: 16pt;
	color:#925f00;
	font-weight: bold;
	}
	

/*刊頭-----------------------------------------------------------------------------*/
.masthead {
	clear:both;
	margin: 20px 0 10px 0px;
	padding: 0 0 0 25px;
	background: transparent url(../img/icon/masthead.gif) no-repeat top left;
	}

.masthead p {
	display:inline-block;
	padding: 0 0 0 3px;
	font-size: 20pt;
	color:#000000;
	font-weight: bold;
	}

/*次刊頭*/	
.masthead_s {
	clear:both;
	margin: 0px 0 10px 10px;
	}
		
.masthead_s span {
	padding: 0 0 0 15px;	
	background: transparent url(../img/icon/masthead_s.gif) no-repeat top left;
	}

.masthead_s p {
	display:inline-block;
	padding: 0px 0 0 3px;
	font-size: 16pt;
	color:#925f00;
	font-weight: bold;
	}

	
/*最新消息--------------------------------------------------------------------------*/
#news ul {
	width: 650px;
	margin: 0 0 0px 0px;
	padding: 0px 10px 10px 10px;
	border: 0px solid #CCCCCC;

	}
	
#news ul li {
	margin: 0;
	padding: 5px 10px 10px 0;
	text-indent: 0;
	line-height: 20pt;
	color:#000000;
	list-style-type: none;
	}

#news ol li {
	list-style-type: decimal;
	}
	
#news ul li.date {
	margin: 0;
	padding: 5px 0 0 0;
	list-style-type:none;
	line-height: 12pt;
	color:#993300;
	font-weight:normal;	
	text-indent: 0;
	border-bottom: none;
	}

#news ul li span {
	font-weight: bold;
	color: #F00;
	}


/*公告事項--------------------------------------------------------------------------*/
#bulletin  {
	border: 0px solid #000000;
	}
	
#bulletin p {
	padding: 0 0 15px 0;
	line-height: 16pt;
	color:#000000;
	font-weight:bold;
	}
	
#bulletin p span {
	color:#FF0000;
	font-weight:bold;
	}

#bulletin ul {
	margin: 0 0 40px 10px;
	padding: 0 5px;
	list-style-type: disc;
	}
	
#bulletin ul li {
	margin: 0;
	padding: 0 10px 20px 0;
	text-indent: 0;
	line-height: 18pt;
	color:#000000;
	}

#bulletin ul li span {
	font-weight: bold;
	color: #F00;
	}	

#bulletin ul li ol {
	margin: 10px 0 0px 25px;
	list-style-type: decimal;
	}

#bulletin ul li ol li {
	padding: 0 10px 20px 0;
	}

	

/*按鈕--------------------------------------------------------------------------------*/
.button {
	clear:both;
	margin: 40px auto 40px auto;
	text-align: center;
	border: 0px dotted #CCCCCC;
	}

.button a {
	margin-right: 20px;
	padding: 5px 30px;
	font-size: 14pt;
	color:#000000;
	font-weight:normal;
	border-radius:5px;
	background-color: #eaeaea;
	border: 1px solid #d4d4d4;
	background: transparent url(../img/button/buttonBg_off.gif) repeat-x 50% 50%;

	}

.button a:hover {
	color:#009999;
	background-color: #e7dfe9;
	background: transparent url(../img/button/buttonBg_on.gif) repeat-x 50% 50%;	
	}
	

/* 小按鈕--*/
a.btn {
	margin: 0 auto;
	padding: 2px 5px;
	font-size: 11pt;
	color:#000000;
	font-weight: normal;
	border-radius:5px;
	background-color: #eaeaea;
	border: 1px solid #d4d4d4;
	background: transparent url(../img/button/buttonBg_off.gif) repeat-x 50% 50%;

	}

a.btn:hover {
	color:#009999;
	background-color: #e7dfe9;
	background: transparent url(../img/button/buttonBg_on.gif) repeat-x 50% 50%;	
	}


/*印表機*/
a.printer {
	float:left;
	display: block;
	padding: 0; 
	margin: 0 0 10px 0; 
	width: 70px;
	height: 17px;
	font-size: 9pt;
	background: transparent url(../img/button/printer_off.gif) no-repeat top left;
}
a.printer:hover {
	color:#FF0000;
	background: transparent url(../img/button/printer_on.gif) no-repeat top left;
	}
a.printer span {
	display:none;
}

/*碼錶_重新計時*/
a.stopwatch {
	float:left;
	display: block;
	padding: 0; 
	margin: 0 5px 0 0; 
	width: 18px;
	height: 18px;
	font-size: 9pt;
	background: transparent url(../img/button/stopwatch_off.gif) no-repeat top left;
}
a.stopwatch:hover {
	color:#FF0000;
	background: transparent url(../img/button/stopwatch_on.gif) no-repeat top left;
	}
a.stopwatch span {
	display:none;
}

/*Facebook*/
a.facebook {
	float:left;
	display: block;
	padding: 0; 
	margin: 0 5px 0 0; 
	width: 28px;
	height: 28px;
	font-size: 9pt;
	background: transparent url(../img/button/facebook_off.gif) no-repeat top left;
}
a.facebook:hover {
	color:#FF0000;
	background: transparent url(../img/button/facebook_on.gif) no-repeat top left;
	}
a.facebook span {
	display:none;
}

/*查詢_放大鏡*/
a.magnifier {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 25px;
	height: 25px;
	font-size: 9pt;
	vertical-align: middle;
	background: transparent url(../img/button/magnifier.gif) no-repeat 0 0;
	text-indent: -9999px;	
}
a.magnifier:hover {
	background-position: 0 -25px;
	}




















