<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--// 自定 Config Section -->
    <sectionGroup name="fujuConfig" type="Fuju.Configuration.ConfigSectionGroup, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="systemSection" type="Fuju.Configuration.SystemConfigSection, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="projectSection" type="Fuju.Configuration.ProjectConfigSection, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="dbSection" type="Fuju.DB.Configuration.DBConfigSection, Fuju.DB, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
    <!--\\ 自定 Config Section -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="LOG_MDOE" value="DEBUG"/>
    <add key="LOG_PATH" value="D:\AP\LOG"/>
  </appSettings>

  <!--// 自定 Config 設定 -->
  <fujuConfig>
    <dbSection>
      <dbs>
        <!-- 預設 -->
        <add dbType="MSSQL" connectionString="Server=SDB00ETD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- TA 套 (Data Source=SDB00ETD96;Initial Catalog=ST_TSS;User ID=ST_USER;Password=Lb123456; Max Pool Size=50) -->
        <add name="TA" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9U0RCMDBFVEQ5NjtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9U1RfVVNFUjtQYXNzd29yZD1MYjEyMzQ1NjsgTWF4IFBvb2wgU2l6ZT01MA=="/>

        <!-- QA 套 -->
        <add name="QA" dbType="MSSQL" connectionString="Server=SDB00EQD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- 正式機 -->
        <add name="RELEASE" dbType="MSSQL" connectionString="Server=SDB00EPD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- JOE 開發機 (Data Source=localhost\MSSQL2019;Initial Catalog=ST_TSS;User ID=sa;Password=1qaz2wsx; Max Pool Size=50) -->
        <add name="JOE" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9bG9jYWxob3N0XE1TU1FMMjAxOTtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9MXFhejJ3c3g7IE1heCBQb29sIFNpemU9NTA="/>

        <!-- W2019StaX64 測試機 (Data Source=localhost\MSSQL2019;Initial Catalog=ST_TSS;User ID=sa;Password=1qaz@WSX; Max Pool Size=50) -->
        <add name="W2019" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9bG9jYWxob3N0XE1TU1FMMjAxOTtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9MXFhekBXU1g7IE1heCBQb29sIFNpemU9NTA="/>
      </dbs>
    </dbSection>
    <systemSection>
      <systems>
        <!-- //電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
        <!---||注意：電腦名稱不分大小寫，不可重複，此清單的電腦會自動取對應的群組設定，否則取預設的群組設定                 -->
        <!-- TA 套 -->
        <add group="MachineGroup" name="SST00ETA11" value="TA"/>
        <add group="MachineGroup" name="SST00ETW12" value="TA"/>

        <!-- QA 套 -->
        <add group="MachineGroup" name="SST00EQA11" value="QA"/>
        <add group="MachineGroup" name="SST00EQW11" value="QA"/>

        <!-- 正式機 -->
        <add group="MachineGroup" name="SST00EPA11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA14" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW14" value="RELEASE"/>

        <!-- JOE 的 -->
        <add group="MachineGroup" name="JOENB" value="JOE"/>

        <!-- W2019StaX64 測試機 -->
        <add group="MachineGroup" name="W2019StaX64" value="W2019"/>
        <!-- \\電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
      </systems>
    </systemSection>
    <projectSection>
      <projects>
        <!-- //EAI 設定 =================================================================================================== -->
        <!---||參數說明：URL=服務網址 / SPName=EAI 的 SPName / CustLoginId=EAI 的 CustLoginId                               -->
        <!-- 預設的 -->
        <add group="EAI" name="URL" value="https://md.landbankt.com.tw/EAI/httppost.ashx"/>
        <add group="EAI" name="SPName" value="ST"/>
        <add group="EAI" name="CustLoginId" value="SST00ETA11"/>

        <!-- TA 套 -->
        <add group="EAI_TA" name="URL" value="https://md.landbankt.com.tw/EAI/httppost.ashx"/>
        <add group="EAI_TA" name="SPName" value="ST"/>
        <add group="EAI_TA" name="CustLoginId_SST00ETA11" value="SST00ETA11"/>

        <!-- QA 套 -->
        <add group="EAI_QA" name="URL" value="https://md.landbankt.com.tw/EAI/httppost.ashx"/>
        <add group="EAI_QA" name="SPName" value="ST"/>
        <add group="EAI_QA" name="CustLoginId_SST00EQA11" value="SST00EQA11"/>

        <!-- 正式機 -->
        <add group="EAI_RELEASE" name="URL" value="https://md.landbank.com.tw/EAI/HttpPost.ashx"/>
        <add group="EAI_RELEASE" name="SPName" value="ST"/>
        <add group="EAI_RELEASE" name="CustLoginId_SST00EPA11" value="SST00EPA11"/>
        <add group="EAI_RELEASE" name="CustLoginId_SST00EPA12" value="SST00EPA12"/>
        <add group="EAI_RELEASE" name="CustLoginId_SST00EPA13" value="SST00EPA11"/>
        <add group="EAI_RELEASE" name="CustLoginId_SST00EPA14" value="SST00EPA12"/>

        <!-- JOE 開發機 -->
        <add group="EAI_JOE" name="URL" value="https://md.landbankt.com.tw/EAI/httppost.ashx"/>
        <add group="EAI_JOE" name="SPName" value="ST"/>
        <add group="EAI_JOE" name="CustLoginId" value="SST00ETA11"/>

        <!-- W2019StaX64 測試機 -->
        <add group="EAI_W2019" name="URL" value="https://md.landbankt.com.tw/EAI/httppost.ashx"/>
        <add group="EAI_W2019" name="SPName" value="ST"/>
        <add group="EAI_W2019" name="CustLoginId" value="SST00ETA11"/>
        <!-- \\EAI 設定 =================================================================================================== -->
      </projects>
    </projectSection>
  </fujuConfig>
  <!--\\ 自定 Config 設定 -->
</configuration>
