<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserServiceExSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="UserServiceExSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://adws.landbankt.com.tw/WebLdap/UserServiceex.asmx" binding="basicHttpBinding" bindingConfiguration="UserServiceExSoap" contract="UserServiceEx.UserServiceExSoap" name="UserServiceExSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
