<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MsgHandlerSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="MsgHandlerSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cpportal.landbankt.com.tw/BlueStar/MsgHandler.asmx" binding="basicHttpBinding" bindingConfiguration="MsgHandlerSoap" contract="MsgHandler.MsgHandlerSoap" name="MsgHandlerSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
