<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--// 自定 Config Section -->
    <sectionGroup name="fujuConfig" type="Fuju.Configuration.ConfigSectionGroup">
      <section name="systemSection" type="Fuju.Configuration.SystemConfigSection"/>
      <section name="projectSection" type="Fuju.Configuration.ProjectConfigSection"/>
      <section name="webSection" type="Fuju.Web.Configuration.WebConfigSection"/>
    </sectionGroup>
    <!--\\ 自定 Config Section -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eSchoolWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 開發環境 -->
    <!--<compilation debug="true" targetFramework="4.8" />-->
    <!-- 正式環境 -->
    <compilation targetFramework="4.8" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" sameSite="Lax"/>
    <sessionState timeout="10" />
    <authentication mode="Windows"/>
    <!-- 設定上傳檔案大小的最大限制，單位 KB -->
    <httpRuntime targetFramework="4.8" maxRequestLength="15360" enableVersionHeader="false"/>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="ErrorPage.aspx">
      <error redirect="/Oops.aspx" statusCode="404"/>
      <error redirect="/Oops.aspx" statusCode="403"/>
    </customErrors>
    <globalization resourceProviderFactoryType="eSchoolWeb.MyResourceProviderFactory"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="uc" tagName="UCEntryPageAD" src="~/UserControl/UCEntryPageAD.ascx"/>
        <add tagPrefix="uc" tagName="UCEntryPageHeader" src="~/UserControl/UCEntryPageHeader.ascx"/>
        <add tagPrefix="uc" tagName="UCEntryPageMenu" src="~/UserControl/UCEntryPageMenu.ascx"/>
        <add tagPrefix="uc" tagName="UCEntryPageNews" src="~/UserControl/UCEntryPageNews.ascx"/>
        <add tagPrefix="uc" tagName="UCLoginBox" src="~/UserControl/UCLoginBox.ascx"/>
        <add tagPrefix="uc" tagName="UCPageHeader" src="~/UserControl/UCPageHeader.ascx"/>
        <add tagPrefix="uc" tagName="UCPageMenu" src="~/UserControl/UCPageMenu.ascx"/>
        <add tagPrefix="uc" tagName="UCPageMasthead" src="~/UserControl/UCPageMasthead.ascx"/>
        <add tagPrefix="uc" tagName="UCFooter" src="~/UserControl/UCFooter.ascx"/>
        <add tagPrefix="uc" tagName="Filter1" src="~/UserControl/Filter1.ascx"/>
        <add tagPrefix="uc" tagName="Filter2" src="~/UserControl/Filter2.ascx"/>
        <add tagPrefix="uc" tagName="SubMenu" src="~/UserControl/SubMenu.ascx"/>
        <add tagPrefix="uc" tagName="Paging" src="~/UserControl/Paging.ascx"/>
        <add tagPrefix="cc" assembly="eSchoolWeb" namespace="eSchoolWeb"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
        <!-- // 安控 Header -->
        <add name="X-Frame-Options" value="DENY"/>
        <!--<add name="Content-Security-Policy" value="frame-ancestors 'self' https://localhost:*" />-->
        <add name="Content-Security-Policy" value="default-src 'self' https://localhost:* ws://localhost:*; frame-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://localhost:*; style-src 'unsafe-inline' 'self'; img-src 'self' data:; frame-ancestors 'self'; object-src 'none'" />
        <add name="Feature-Policy" value="autoplay 'none'; camera 'none'; fullscreen 'self'; geolocation 'none'; microphone 'none'; midi 'none'; payment 'none'; sync-xhr 'none'; magnetometer 'none'; gyroscope 'none';" />
        <add name="Permissions-Policy" value="autoplay=(), camera=(), fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), sync-xhr=()" />
        <add name="Referrer-Policy" value="same-origin"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="Cache-Control" />
        <remove name="Pragma" />
        <remove name="Expires" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
        <!-- \\ 安控 Header -->
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Oops.aspx" responseMode="ExecuteURL"/>
      <error statusCode="403" prefixLanguageFilePath="" path="/Oops.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <!-- rewrite 舊版 IIS 不支援 \\ -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
    <!-- rewrite 舊版 IIS 不支援 // -->
  </system.webServer>
  <appSettings>
    <!-- 日誌用的路徑與模式 -->
    <add key="LOG_MDOE" value="DEBUG"/>
    <add key="LOG_PATH" value="D:\WEB\LOG"/>
  </appSettings>
  <!--// 自定 Config 設定 -->
  <fujuConfig>
    <webSection>
      <services/>
      <proxys>
        <!-- //學雜費後台服務連線設定 ========================================================================================= -->
        <!---|| 參數說明： serviceUrl=呼叫服務的網址 / apSCode=呼叫服務的應用程式的系統代碼 / apMCode=機台代碼 / apACode=授權代碼 -->
        <!-- 預設 -->
        <add serviceUrl="https://eschooltest_ap.landbankt.com.tw/eSchoolAP/DataService.asmx" apSCode="eSchoolWeb" apMCode="DEFAULT" apACode="DEFAULT-ACODE"/>
        <!-- TA 套 -->
        <add name="TA" serviceUrl="https://eschooltest_ap.landbankt.com.tw/eSchoolAP/DataService.asmx" apSCode="eSchoolWeb" apMCode="TA" apACode="TA-ACODE"/>
        <!-- QA 套 -->
        <add name="QA" serviceUrl="https://eschoolqa_ap.landbankt.com.tw/eSchoolAP/DataService.asmx" apSCode="eSchoolWeb" apMCode="QA" apACode="QA-ACODE"/>
        <!-- 正式機 -->
        <add name="RELEASE" serviceUrl="https://eschool_ap.landbank.com.tw/eSchoolAP/DataService.asmx" apSCode="eSchoolWeb" apMCode="RELEASE" apACode="RELEASE-ACODE"/>

        <!-- JOE 開發機 -->
        <add name="JOE" serviceUrl="http://localhost:2711/DataService.asmx" apSCode="eSchoolWeb" apMCode="JOE" apACode="JOE-ACODE"/>
        <!-- W2019StaX64 測試機 -->
        <add name="W2019" serviceUrl="http://192.168.2.201/DataService.asmx" apSCode="eSchoolWeb" apMCode="W2019" apACode="W2019-ACODE"/>
        <!-- \\學雜費後台服務連線設定 ========================================================================================= -->
      </proxys>
    </webSection>
    <systemSection>
      <systems>
        <!-- //電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
        <!---||注意：電腦名稱不分大小寫，不可重複，此清單的電腦會自動取對應的群組設定，否則取預設的群組設定                 -->
        <!-- TA 套 -->
        <add group="MachineGroup" name="SST00ETA11" value="TA"/>
        <add group="MachineGroup" name="SST00ETW12" value="TA"/>
        <!-- DNZ 測試套 -->
        <add group="MachineGroup" name="SST00ETW11" value="TA"/>
        <!-- QA 套 -->
        <add group="MachineGroup" name="SST00EQA11" value="QA"/>
        <add group="MachineGroup" name="SST00EQW11" value="QA"/>
        <!-- 正式機 -->
        <add group="MachineGroup" name="SST00EPA11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA14" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW14" value="RELEASE"/>

        <!-- JOE 開發機 -->
        <add group="MachineGroup" name="JOENB" value="JOE"/>
        <!-- W2019StaX64 測試機 -->
        <add group="MachineGroup" name="W2019StaX64" value="W2019"/>
        <!-- \\電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
      </systems>
    </systemSection>
    <projectSection>
      <projects>
        <!-- 操作記錄日誌是否啟用參數-->
        <add group="WriteOPLog" name="ENABLED" value="FALSE"/>
        <!-- 操作記錄日誌檔路徑 -->
        <add group="OperationLog" name="Path" value="D:\WEB\LOG"/>
        <!-- //頁面操作逾時設定 -->
        <!-- 操作逾時的倒數秒數，只能指定大於 0 的整數，如指定無效值則不做處理-->
        <add group="PageOperating" name="TimeoutSeconds" value="590"/>
        <!-- 顯示提醒的剩餘秒數，只能指定大於 0 的整數，如指定無效值則不做處理 -->
        <add group="PageOperating" name="RemindSeconds" value="60"/>
        <!-- \\逾時設定 -->
        <!-- //繳款網址參數 =============================================================================================== -->
        <!---|| 參數說明： EATM=網路ATM繳款網址 / NetBank=網銀繳款網址                                                      -->
        <!-- TA 套 -->
        <add group="PayUrl_TA" name="EATM" value="https://10.253.21.126/2008eatm.aspx?id=eatm"/>
        <add group="PayUrl_TA" name="NetBank" value="https://10.253.27.128/Twd/TWD_pays_05/Index/VACNO={0}|Amt={1}"/>
        <!-- QA 套 -->
        <add group="PayUrl_QA" name="EATM" value="https://10.253.21.126/2008eatm.aspx?id=eatm"/>
        <add group="PayUrl_QA" name="NetBank" value="https://mybank.landbankt.com.tw/Twd/TWD_pays_05/Index/VACNO={0}|Amt={1}"/>
        <!-- 正式機 -->
        <add group="PayUrl_RELEASE" name="EATM" value="https://eatm.landbank.com.tw/2008eatm.aspx?id=eatm"/>
        <add group="PayUrl_RELEASE" name="NetBank" value="https://mybank.landbank.com.tw/Twd/TWD_pays_05/Index/VACNO={0}|Amt={1}"/>

        <!-- JOE 開發機 -->
        <add group="PayUrl_JOE" name="EATM" value="https://10.253.21.126/2008eatm.aspx?id=eatm"/>
        <add group="PayUrl_JOE" name="NetBank" value="https://10.253.27.128/Twd/TWD_pays_05/Index/VACNO={0}|Amt={1}"/>
        <!-- W2019StaX64 測試機 -->
        <add group="PayUrl_W2019" name="EATM" value="https://10.253.21.126/2008eatm.aspx?id=eatm"/>
        <add group="PayUrl_W2019" name="NetBank" value="https://10.253.27.128/Twd/TWD_pays_05/Index/VACNO={0}|Amt={1}"/>
        <!-- \\繳款網址參數 =============================================================================================== -->
        <!-- //EZPOS 財金 設定 ============================================================================================ -->
        <!---|| 參數說明： EZPosUrl=EZPos 的網址 / AuthResURL=授權回應網頁                                                  -->
        <!-- TA 套 -->
        <add group="EZPOS_TA" name="EZPosUrl" value="https://www.focas-test.fisc.com.tw/FOCAS_WEBPOS/online/"/>
        <add group="EZPOS_TA" name="AuthResURL" value="https://eschooltest.landbankt.com.tw/EZPosResponse.aspx"/>
        <add group="EZPOS_TA" name="AuthResURL2" value="https://eschooltest.landbankt.com.tw/EZPosResponse2.aspx"/>
        <!-- QA 套 -->
        <add group="EZPOS_QA" name="EZPosUrl" value="https://www.focas-test.fisc.com.tw/FOCAS_WEBPOS/online/"/>
        <add group="EZPOS_QA" name="AuthResURL" value="https://eschoolqa.landbankt.com.tw/EZPosResponse.aspx"/>
        <add group="EZPOS_QA" name="AuthResURL2" value="https://eschoolqa.landbankt.com.tw/EZPosResponse2.aspx"/>
        <!-- 正式機 -->
        <add group="EZPOS_RELEASE" name="EZPosUrl" value="https://www.focas.fisc.com.tw/FOCAS_WEBPOS/online/"/>
        <add group="EZPOS_RELEASE" name="AuthResURL" value="https://eschool.landbank.com.tw/EZPosResponse.aspx"/>
        <add group="EZPOS_RELEASE" name="AuthResURL2" value="https://eschool.landbank.com.tw/EZPosResponse2.aspx"/>
        
        <!-- JOE 開發機 -->
        <add group="EZPOS_JOE" name="EZPosUrl" value="https://www.focas-test.fisc.com.tw/FOCAS_WEBPOS/online/"/>
        <!--<add group="EZPOS_JOE" name="EZPosUrl" value="http://localhost:49861/VirtualFocasWebPOS.aspx"/>-->
        <add group="EZPOS_JOE" name="AuthResURL" value="http://localhost:49861/EZPosResponse.aspx"/>
        <add group="EZPOS_JOE" name="AuthResURL2" value="http://localhost:49861/EZPosResponse2.aspx"/>
        <!-- W2019StaX64 測試機 -->
        <add group="EZPOS_W2019" name="EZPosUrl" value="https://www.focas-test.fisc.com.tw/FOCAS_WEBPOS/online/"/>
        <!--<add group="EZPOS_W2019" name="EZPosUrl" value="http://localhost:49861/VirtualFocasWebPOS.aspx"/>-->
        <add group="EZPOS_W2019" name="AuthResURL" value="http://localhost:49861/EZPosResponse.aspx"/>
        <add group="EZPOS_W2019" name="AuthResURL2" value="http://localhost:49861/EZPosResponse2.aspx"/>
        <!-- \\EZPOS 財金 設定 ============================================================================================ -->
        <!-- //接收檔案 Web 服務 設定 -->
        <add group="FileService" name="TempPath" value="D:\WEB\TEMP\"/>
        <add group="FileService" name="CTCBDataPath" value="D:\WEB\DATA\CTCB\"/>
        <add group="FileService" name="CanceledDataPath" value="D:\WEB\DATA\CANCELED\"/>
        <add group="FileService" name="FtpUpload" value="D:\WEB\FtpUpload\FtpUpload.exe"/>
        <!-- \\接收檔案 Web 服務 設定 -->
        <!-- //ExcelHelper 的暫存路徑 -->
        <add group="ExcelHelper" name="TempPath" value="D:\WEB\TEMP\"/>
        <!-- \\ExcelHelper 的暫存路徑 -->
        <!-- //是否啟用多語系設定 (value=true 表示啟用，否則表示不啟用) -->
        <add group="MultiLanguage" name="Enabled" value="true"/>
        <!-- \\是否啟用多語系設定 -->
      </projects>
    </projectSection>
  </fujuConfig>
  <!--\\ 自定 Config 設定 -->
</configuration>