<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--// 自定 Config Section -->
    <sectionGroup name="fujuConfig" type="Fuju.Configuration.ConfigSectionGroup, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="systemSection" type="Fuju.Configuration.SystemConfigSection, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="projectSection" type="Fuju.Configuration.ProjectConfigSection, Fuju.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="dbSection" type="Fuju.DB.Configuration.DBConfigSection, Fuju.DB, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
    <!--\\ 自定 Config Section -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileServiceSoap_HTTPS" sendTimeout="00:10:00">
          <security mode="Transport"/>
        </binding>
        <binding name="FileServiceSoap_HTTP" sendTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- //Web 端檔案服務設定 ========================================================================================= -->
      <!-- HTTPS -->
      <endpoint address="https://eschool.landbank.com.tw/fileservice.asmx" binding="basicHttpBinding" bindingConfiguration="FileServiceSoap_HTTPS" contract="FileService.FileServiceSoap" name="FileServiceSoap_HTTPS"/>
      <!-- HTTP -->
      <endpoint address="http://eschool.landbank.com.tw/fileservice.asmx" binding="basicHttpBinding" bindingConfiguration="FileServiceSoap_HTTP" contract="FileService.FileServiceSoap" name="FileServiceSoap_HTTP"/>
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="LOG_MDOE" value="DEBUG"/>
    <add key="LOG_PATH" value="D:\AP\LOG"/>
    <add key="TEMP_PATH" value="D:\AP\DATA\DELIVER\TEMP"/>
    <add key="DATA_PATH" value="D:\AP\DATA\DELIVER"/>
    <add key="BAK_PATH" value="D:\AP\DATA\DELIVER\BAK"/>
    <!-- Web 端檔案服務連線帳號 -->
    <add key="ap_id" value="eSchoolAp"/>
    <!-- Web 端檔案服務連線代碼 -->
    <add key="ap_code" value="1qaz@WSX"/>
    <add key="config_file_name" value="file.config"/>
    <!-- 中國信託資料夾 -->
    <add key="ctcb_data_path" value="D:\AP\DATA\CTCB"/>
    <!-- 學校銷帳資料待發送路徑 (要指定到send的資料夾) -->
    <add key="cancel_data_path" value="D:\AP\DATA\CANCELED\SEND"/>
  </appSettings>

  <!--// 自定 Config 設定 -->
  <fujuConfig>
    <dbSection>
      <dbs>
        <!-- 預設 -->
        <add dbType="MSSQL" connectionString="Server=SDB00ETD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- TA 套 (Data Source=SDB00ETD96;Initial Catalog=ST_TSS;User ID=ST_USER;Password=Lb123456; Max Pool Size=50) -->
        <add name="TA" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9U0RCMDBFVEQ5NjtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9U1RfVVNFUjtQYXNzd29yZD1MYjEyMzQ1NjsgTWF4IFBvb2wgU2l6ZT01MA=="/>

        <!-- QA 套 -->
        <add name="QA" dbType="MSSQL" connectionString="Server=SDB00EQD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- 正式機 -->
        <add name="RELEASE" dbType="MSSQL" connectionString="Server=SDB00EPD96;Database=ST_TSS;Trusted_Connection=True;"/>

        <!-- JOE 開發機 (Data Source=localhost\MSSQL2019;Initial Catalog=ST_TSS;User ID=sa;Password=1qaz2wsx; Max Pool Size=50) -->
        <add name="JOE" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9bG9jYWxob3N0XE1TU1FMMjAxOTtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9MXFhejJ3c3g7IE1heCBQb29sIFNpemU9NTA="/>

        <!-- W2019StaX64 測試機 (Data Source=localhost\MSSQL2019;Initial Catalog=ST_TSS;User ID=sa;Password=1qaz@WSX; Max Pool Size=50) -->
        <add name="W2019" dbType="MSSQL" connectionString="@ENCODE=RGF0YSBTb3VyY2U9bG9jYWxob3N0XE1TU1FMMjAxOTtJbml0aWFsIENhdGFsb2c9U1RfVFNTO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9MXFhekBXU1g7IE1heCBQb29sIFNpemU9NTA="/>
      </dbs>
    </dbSection>
    <systemSection>
      <systems>
        <!-- //電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
        <!---||注意：電腦名稱不分大小寫，不可重複，此清單的電腦會自動取對應的群組設定，否則取預設的群組設定                 -->
        <!-- TA 套 -->
        <add group="MachineGroup" name="SST00ETA11" value="TA"/>
        <add group="MachineGroup" name="SST00ETW12" value="TA"/>

        <!-- QA 套 -->
        <add group="MachineGroup" name="SST00EQA11" value="QA"/>
        <add group="MachineGroup" name="SST00EQW11" value="QA"/>

        <!-- 正式機 -->
        <add group="MachineGroup" name="SST00EPA11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPA14" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW11" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW12" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW13" value="RELEASE"/>
        <add group="MachineGroup" name="SST00EPW14" value="RELEASE"/>

        <!-- JOE 開發機 -->
        <add group="MachineGroup" name="JOENB" value="JOE"/>

        <!-- W2019StaX64 測試機 -->
        <add group="MachineGroup" name="W2019StaX64" value="W2019"/>
        <!-- \\電腦群組清單，用來指定電腦名稱 (name) 對應的設定群組 (value: TA/QA/RELEASE) ================================ -->
      </systems>
    </systemSection>
    <projectSection>
      <projects>
      </projects>
    </projectSection>
  </fujuConfig>
  <!--\\ 自定 Config 設定 -->
</configuration>
